@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

header, body {
    background-color : white;
    } 

nav {
text-align : center;
margin: 0 auto;
width: 900px;
} 

.navpan {
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
}

a {
    font-family: "Playfair Display";
    font-size: 14px;
    color: rgb(98, 98, 98);
    text-transform: uppercase;
    line-height: 1.714;
    text-decoration: none;
  }
  
  a:hover {
    color: #03a9f4;
  }
  
  li{
    display: inline-block;

  }

.nav-element:not(:last-child) {
  margin-right: 94px;
}

header {
    padding-top: 78px;
    padding-bottom: 80px;
}
.container {
  width: 900px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 54px;
}

.post {
display: inline-block;
box-sizing: border-box;
width: 420px;
font-size: 0px;
margin-bottom: 130px;
}

.post:nth-child(odd) {
  margin-right: 56px;
}

.post:nth-child(n+5) {
margin-bottom: 0px;
}

img {
  display: block;
  margin-bottom: 32px;
}

.heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #b4ad9e;
  margin-bottom: 14px;
  line-height: 1.2;
  margin-top: 0px;
  font-weight: 300;
}

h2 {
  font-family: "Playfair Display", serif;
  color: #626262;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 28px;
  margin-top: 0px;
}

.text {
  font-family: "Playfair Display", serif;
  color: #626262;
  font-size: 14px;
  line-height: 1.714;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
}

.btn {
    margin: 0 auto;
    padding-bottom: 70px;
    width: 900px;
    text-align: center;
}

button {
    font-family: "Playfair Display";
    background-color: #ffffff;
    color: #626262;
    border: solid black 1px;
    height: 60px;
    width: 164px;
    font-size: 20px;
    line-height: 1.2;
    margin-right: 40px;
}